* {
  font-family: Open Sans, arial,sans-serif;
  color: #fff; 

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111111;
  /*background-image: url("fondo.jpg");
  background-color: rgba(0, 0, 0, 0.5);*/
}

.contains {
  background-color: #d92c2c;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  padding: 30px;
  text-align: center;

}



.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #0e0e0e;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #525252;
  cursor: pointer;
}

#createNewAccount{
  background-color: #52525200;
  padding: 0px;
  margin-top: 10px;
}