body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(236, 236, 236);
    border-bottom: 1px solid rgb(0, 0, 0);
    font-family: Open Sans, arial, sans-serif;
    color: black;
    box-sizing: border-box;   
}
.icon{
    border: 1px solid #000;
}

.header {
    display: flex;
    padding: 16px;
    font-size: 15px;
}

.boton {
    background: none;
    border: none;
}

.boton .linea {
    height: 2px;
    width: 25px;
    background-color: rgb(0, 0, 0);
    margin: 5px 0;
    transition: 250ms ease;
}

.boton:hover .linea {
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 10px rgb(255, 0, 0);
    transition: 250ms ease;    
}

.logo {
    display: flex;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
    background-image: url(../Imagenes/iconoBeicon.jpg);
    background-size: cover;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 10px;
}

.menu-superior {
    display: flex;
    float: right;
    align-items: center;
    top: 0;
    left: 0;
    margin-left: 62%;
}

.menu-lateral {
    margin-top: 47px;
    background-color: rgb(236, 236, 236);
    position: fixed;
    width: 250px;
    text-align: justify;
    display: flex;
    margin-left: -16px;
    transform: translateX(-100%);
    transition: transform 0.5s;
    height: 100%;
}

.menu-lateral.active {
    transform: translateX(0);
}

.menu-lateral ul {
    display: flex;
    list-style: none;
    padding: 15px;
    margin: 0;
    flex-direction: column;
}

.menu-lateral .listaMenu .conenidoLista {
    margin-top: 10px;
    font-size: 13px;
}

.listaMenu{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.listaMenu .conenidoLista .link {
    padding: 0 16px;
}

.userName {
    margin: 0;
}

.link {
    text-decoration: none;
    color: black;
    transition: 250ms ease;
}

.link:hover {
    color: #ff0000;
    text-shadow: 0px 0px 30px rgb(255, 0, 0);
    transition: 250ms ease;
    cursor: pointer;
}

@media (max-width: 952px) {}

@media (max-width: 658px) {
    .logo .username {
        display: none;
    }

    .menu-superior .listaMenu {
        font-size: 10px;
        margin-left: 5%;
    }

    .menu-superior .listaMenu .conenidoLista {
        padding: 8px;
    }

    .listaMenu .conenidoLista .link {
        padding: 0px;
    }

    .logo {
        font-size: 10px;
    }

    .menu-superior {
        margin-left: 5%;
    }
}

#goToEnglish{
    color: rgb(255, 0, 0);
    transition: 250ms ease;
}

#goToEnglish:hover{
    color: #000000;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
    transition: 250ms ease;
    cursor: pointer;
}